{% extends "base_page.html" %}

{% block title %}
<title>Book {{ book.title }}</title>
{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>{{ book.title }}</h1>
        <p class="authors"><strong>Author(s):</strong> {{ book.authors }}</p>
        <p class="publication-info"><strong>Published:</strong> {{ book.publication_date }}</p>
        <p class="isbn"><strong>ISBN:</strong> {{ book.isbn }}</p>

        <a href="{% url 'list_books' %}" class="btn-back">Go to List of Books</a>
    </div>
</body>
{% endblock %}
